<div class="jumbotron homePage">
  <h1>Welcome to the Book Manager!</h1>
  <p class="lead">A CRUD using Angular 4 and Form.IO</p>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>Angular 4</h2>
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
    <p><a class="btn btn-primary" href="https://angular.io/" target="_blank" role="button">Get Angular</a></p>
  </div>
  <div class="col-lg-6">
    <h2>Form.IO</h2>
    <p>Simplify the connections between your forms and APIs.<br>
      Integrate with 3rd party providers and legacy sistems.<br>
      All white maintaining control of your data. </p>
    <p><a class="btn btn-primary" href="https://portal.form.io/" target="_blank" role="button">Get Form.IO</a></p>
 </div>
</div>